.App {
  width: 200;
    height: 200px;
    padding: 50px;
    background-color: rgb(35, 142, 235);
    position: absolute;
    top: 20%;
    left: 40%;
    margin-left: -100px;
    margin-top: -50px;
}







